<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Budgtr</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
  </head>
  <body>
    <div class="container">
      <h1>Budgtr Index Page</h1>
      
      
      <table>
        <% for(let i = 0; i < allBudgets.length; i++) { %> 
        <tr>
          <td> <%= allBudgets[i].date %></td>
          <td> <a href="/budgets/<%= i %>"> <%= allBudgets[i].name %> </a> </td>
          <td> <%= allBudgets[i].amount %></td>
        </tr>
        <% } %>
      </table>
      <a href="/budgets/new"><button>Add A New Item</button></a>
    </div>
  </body>
</html>