<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Budgtr</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
  </head>
  <body>
    <h1>Budgtr Show Page</h1>

    <!-- The <%= fruit.name; %> is <%= fruit.color; %>. <% if(fruit.readyToEat === true){ %> It is ready to eat <% } else { %> It is not ready to eat <% } %> -->
  </body>
</html>